html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

html,
body {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .box .header {
    width: 100%;
    height: 1.17333rem;
    padding: 0 0.26667rem;
    background: darkcyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 0.37333rem; }
    .box .header .search {
      width: 75%;
      height: 75%;
      background: #027070;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 0 0.26667rem;
      border-radius: 0.13333rem; }
      .box .header .search span {
        font-size: 0.37333rem; }
      .box .header .search .ipt {
        margin-left: 0.26667rem;
        color: #eee; }
    .box .header dl {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .box .header dl dt {
        font-size: 0.37333rem; }
  .box .banner {
    width: 100%;
    height: 2.66667rem; }
    .box .banner img {
      width: 100%;
      height: 2.66667rem; }
  .box .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #eee; }
    .box .main .swipers,
    .box .main .swiper-container,
    .box .main .swiper-wrapper {
      width: 100%;
      height: 5.33333rem;
      border: 1px solid #ccc;
      background: #fff; }
      .box .main .swipers .first-slide,
      .box .main .swiper-container .first-slide,
      .box .main .swiper-wrapper .first-slide {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; }
        .box .main .swipers .first-slide dl,
        .box .main .swiper-container .first-slide dl,
        .box .main .swiper-wrapper .first-slide dl {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0.16rem; }
          .box .main .swipers .first-slide dl dt,
          .box .main .swiper-container .first-slide dl dt,
          .box .main .swiper-wrapper .first-slide dl dt {
            font-size: 1.33333rem; }
          .box .main .swipers .first-slide dl dd,
          .box .main .swiper-container .first-slide dl dd,
          .box .main .swiper-wrapper .first-slide dl dd {
            font-size: 0.37333rem; }
    .box .main .product {
      width: 100%;
      flex: 1;
      background: #fff;
      margin-top: 0.4rem;
      padding-left: 0.26667rem; }
      .box .main .product h4 {
        font-size: 0.48rem;
        padding: 0.26667rem 0.26667rem 0.26667rem 0; }
      .box .main .product dl {
        width: 100%;
        height: 3.2rem;
        border: 1px solid #ccc; }
